@model IEnumerable<LibrarySystem.Models.AccountsInfo>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>LMS - Accounts</title>
    
</head>
<center>
    <h1>Registered Accounts</h1>


    <p style="font-size:18px;">
        <span style="float:left; margin-left:10px;">Welcome @Context.Session.GetString("username")</span>
        <a asp-action="Create" style="margin-right:120px;">Register New Account</a>
    </p>
</center>
<table class="table">
    <thead>
        <tr style="background-color:white;">
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Psd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th></th>
        </trstyle="background-color:white;">
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Psd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p style="background-color: beige; padding-bottom: 30px; padding-top: 5px;"><span style="float:left;margin-left:10px;"><a asp-action="GetBooksInfo">View Catalogue</a></span><span style="float:right; margin-right:10px;"><a asp-action="GetRequestInfo">View Requests</a></span></p>
